replicaCount: 1

image:
  tag: "stage-1" # should be replaced

service:
  type: ClusterIP
  port: 8000
  targetPort: 5000

externalSecrets:
  enabled: true

db:
  auth:
    database: "flask_staging"
    username: "flask_user"

  primary:
    storageClass: "gp3"

config:
  DEBUG: "0"
  CORS_ORIGINS: "flask-app.backend.cluster.internal"
  ENVIRONMENT: "staging"

ingress:
  enabled: true
  className: "nginx"
  hosts:
    - host: "flask-app.backend.cluster.internal"
      paths:
        - path: /
          pathType: Prefix
  tls: []

resources:
  requests:
    cpu: 100m
    memory: 256Mi
  limits:
    cpu: 500m
    memory: 512Mi

autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 1

hpa:
  enabled: false
