replicaCount: 1
image:
  tag: "1.0.45" # should be replaced
  repository: akthm/demo-back
  pullPolicy: IfNotPresent
service:
  type: ClusterIP
  port: 5000
  targetPort: 5000
externalSecrets:
  enabled: true
  secretStoreRef:
    name: "aws-secrets-manager"
    kind: "ClusterSecretStore"
  # Staging AWS Secrets Manager keys
  databaseKey: "staging/backend/database"
  flaskAppKey: "staging/backend/flask-app"
  adminKey: "staging/backend/admin"
  jwtKeysKey: "staging/backend/jwt-keys"
db:
  auth:
    database: "flask_staging"
    username: "flask_user"
  primary:
    persistence:
      enabled: true
      size: 1Gi # Larger for staging
      storageClass: "standard"
      accessModes:
        - ReadWriteOnce
config:
  DEBUG: "0"
  CORS_ORIGINS: "flask-app.backend.cluster.internal"
  ENVIRONMENT: "staging"
  ENSURE_INITIAL_DATA: "true"
  DB_FALLBACK_TO_SQLITE_IN_MEMORY: "false"
  DB_TYPE: "mysql"
  DB_HOST: "flask-app-db.backend.svc.cluster.local"
  DB_PORT: "3306"
ingress:
  enabled: true
  className: "nginx"
  hosts:
    - host: "flask-app.backend.cluster.internal"
      paths:
        - path: /
          pathType: Prefix
  tls: []
resources:
  requests:
    cpu: 100m
    memory: 256Mi
  limits:
    cpu: 500m
    memory: 512Mi
autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 1
hpa:
  enabled: false
