{{- if .Values.ingress.enabled }}
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ include "platform-app.fullname" . }}
  labels:
    {{- include "platform-app.labels" . | nindent 4 }}
  {{- with .Values.ingress.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  {{- if .Values.ingress.className }}
  ingressClassName: {{ .Values.ingress.className }}
  {{- end }}
  {{- if or .Values.ingress.tls .Values.global.tls.enabled }}
  tls:
    {{- if .Values.ingress.tls }}
    {{- toYaml .Values.ingress.tls | nindent 4 }}
    {{- else }}
    - secretName: {{ .Values.global.tls.secretName }}
      hosts:
        - {{ .Values.global.domain }}
    {{- end }}
  {{- end }}
  rules:
    {{- if .Values.ingress.hosts }}
    {{- range .Values.ingress.hosts }}
    - host: {{ .host | default $.Values.global.domain | quote }}
      http:
        paths:
          {{- range .paths }}
          - path: {{ .path }}
            pathType: {{ .pathType }}
            backend:
              service:
                name: {{ include "platform-app.fullname" $ }}-nginx-gateway
                port:
                  number: {{ $.Values.nginxGateway.service.port }}
          {{- end }}
    {{- end }}
    {{- else }}
    - host: {{ .Values.global.domain | quote }}
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: {{ include "platform-app.fullname" . }}-nginx-gateway
                port:
                  number: {{ .Values.nginxGateway.service.port }}
    {{- end }}
{{- end }}
